<section class="vh-100" style="background-color: #000;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/uploads/logo.png" alt="login form" class="img-fluid mt-5 ms-3"
                style="border-radius: 1rem 1rem 1rem 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form id="login-form" method="post" action="/admin/auth/login">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Log in</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log into your account</h5>
                  <div class="text-danger mb-2 error" id="server-error">{{error}}</div>
                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg"
                      onfocus="resetError()" />
                    <label class="form-label" for="email">Email address</label>
                    <div class="text-danger mb-2 error" id="email-error"></div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg"
                      onfocus="resetError()" />
                    <label class="form-label" for="password">Password</label>
                    <div class="text-danger mb-2 error" id="password-error"></div>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" id="btn-submit" type="button">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/admin/auth/signup"
                      style="color: #393f81;">Register here</a></p>
                  {{!-- <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a> --}}
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function resetError() {
    let error = document.querySelector("#server-error");
    error.innerHTML = ""
  }

  var email = document.querySelector("#email");
  var password = document.querySelector("#password");
  document.querySelector("#btn-submit").onclick = function() {
    if (email.value.length <= 0) {
      document.querySelector("#email-error").innerHTML = "Hãy nhập email!";
      email.focus();
      return;
    } else {
      document.querySelector("#email-error").innerHTML = "";
    }

    if (password.value.length <= 0) {
      document.querySelector("#password-error").innerHTML = "Hãy nhập mật khẩu!";
      password.focus();
      return;
    } else {
      document.querySelector("#password-error").innerHTML = "";
    }

    document.querySelector("#login-form").submit();
  }

</script>